@import url(//db.onlinewebfonts.com/c/0d39a4e3c36c494c84e2c38618bfed33?family=Publico+Text+Web);

@font-face {
  font-family: "Publico Text Web"; 
  src: url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.eot"); 
  src: url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/0d39a4e3c36c494c84e2c38618bfed33.svg#Publico Text Web") format("svg"); 
}

@import url(//db.onlinewebfonts.com/c/e0ad94902a160013fafd2403e5e638cb?family=Canela);

@font-face {
  font-family: "Canela"; 
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot"); 
  src: url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/e0ad94902a160013fafd2403e5e638cb.svg#Canela") format("svg"); 
}

:root {
  --foreground: #f2f3f4;
  --background: #131516;
}

html {
  height: 100vh;
}

body {    
  margin: 0 !important;
  padding: 0 !important;
}

h2 {
  font-family: "Canela";
  font-size: 36px;
  font-weight: 700;
  margin-top: 50px;
  margin-bottom: 100px;
  color: var(--background);
}

h3 {
  font-family: "Canela";
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
  color: var(--background);
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6em;
  color: var(--background);
}

a {
  color: var(--background);
  text-decoration: underline;
  font-weight: 400;
}

a:hover {
  text-decoration-color: #107896;
}

.container {
  width: 70%;
  margin: 0 auto;
}

#sections {
  position: relative;
  display: inline-block;
  width: 350px;
  top: 0px;
  z-index: 90;
}

.step {
  margin-bottom: 250px;
}

#kwInput {
  width: 100%;
  font-size: 14px;
  padding: 12px 20px 12px 12px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#vis {
  display: inline-block;
  position: fixed;
  top: 200px;
  z-index: 1;
  margin-left: 30px;
  height: 600px;
  width: 900px;
  background-color: 0;
  opacity: 0;
}

#intro {
  margin: 0 auto;
  width: 40%;
  background-color: var(--background);
}

#container {
  margin: 0 auto;
  width: 100%;
  background-color: var(--background);
}

#intro h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 2.6em;
  margin-top: 0px;
  margin-bottom: -10px;
  color: var(--foreground);
  text-align: center;
}

#intro a {
  color: var(--foreground);
  font-weight: 700;
  text-decoration: underline;
}

#intro .large {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 700;
  margin-top: -30px;
  margin-bottom: -30px;
  color: var(--foreground);
  text-align: center;
}

#intro .small {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-weight: 700;
  color: var(--foreground);
  text-align: center;
}

#intro .desc {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 2.0em;
  font-weight: 300;
  color: var(--foreground);
  text-align: center;
}

#intro p {
  font-family: "Publico Text Web";
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.8em;
  text-align: left;
  font-weight: 300;
  color: var(--foreground);
}

#intro #first_paragraph::first-letter {
  -webkit-initial-letter: 3;
  initial-letter: 3;
  margin-right: .4em;
  font-weight: 700;
}

#intro img {
  margin: 0 auto;
  width: 100%;
  margin-bottom: 50px;
}

.graph0 line {
  stroke: var(--foreground);
}

.graph0 path {
  stroke: var(--foreground);
}

.graph0 text {
  fill: var(--foreground);
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  /*position the autocomplete items to be the same width as the container:*/
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--foreground); 
  color: var(--background);
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: #e9e9e9 !important; 
}

.stock-button {
  background-color: var(--foreground); /* Green */
  border: None;
  color: var(--background);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 8px 6px;
  font-size: 12px;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.stock-button:hover {
  box-shadow: none;
}